/* App */
.home-icon {
    position: relative;
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.title { 
    float: left;
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-size: xx-large;
}

/* Card */

.empty-circ {
    float: left;
    margin-top: 0.5rem;
}

.reminder { 
    float: left;
    margin-left: 1rem;
}

.card { 
    position: absolute;
    margin-left: 2rem;
    margin-top: 5rem;
}